name: Deploy Production

on:
  push:
    branches:
      - production

jobs:
  deploy:
    runs-on: self-hosted

    steps:

      # 1. Checkout latest production code
      - name: Checkout Production Branch
        uses: actions/checkout@v3
        with:
          ref: production  # Explicitly checkout the 'production' branch
