name: Deploy Production

on:
  push:
    branches:
      - production  # Make sure this triggers the workflow on the 'production' branch

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      # Step 1: Checkout the latest production code
      - name: Checkout latest production code
        uses: actions/checkout@v2
        with:
          ref: production  # Explicitly checkout the 'production' branch
